@import url(../common/style.css);

.wrapper {
    width: 472px;
    height: 389px;
    padding: 14px 30px 10px 14px;
}

.form__header {
    font-size: 16px;
    font-width: 500;
}

.form__header::after {
    content: '';
    background-color: #000;
    height: 1px;
    display: block;
    margin-top: 14px;
}

.form__title {
    padding: 20px 0 6px;
    color: var(--text-color);
}

.form {
    display: flex;
    justify-content: space-between;
}

fieldset {
    border: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}

.email__field-input {
    padding: 10px 20px;
    width: 330px;
    border: solid 1px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
}

.form__button{
    width: 90px;
    height: 39px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.form__button:hover {
    background-color: #fff;
    color: #000;
    border: solid 1px;
}

.note__block {
    background-color: #EDEDED;
    padding: 12px 10px;
    margin: 12px 0;
    border-radius: 6px;
}

.note__block p {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
}

.agree__block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}


.agree__block h2 {
    font-size: 15px;
    font-weight: 500;
}

.agree__block p {
    color: var(--text-color);
    padding: 10px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 19px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {
    display: none;
}

.slider::before{
    position: absolute;;
    content: '';
    height: 17px;
    width: 17px;
    left: 1px;
    bottom: 1px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider {
    background-color: #6F47EB;
}

input:checked + .slider::before {
    transform: translateX(12px);
}

.submit__button {
    margin-top: 31px;
    margin-bottom: 35px;
    padding: 10px 20px;
    width: 428px;
    height: 38px;
    background: #333333;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    border: none;
}

.submit__button:hover {
    color: #fff;
    background: black;
}