:root {
    --text-color: #5C5F62;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

ul, li {
    list-style: none;
}

.container {
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
}

/*Conversation (start)*/

.wrapper {
    width: 416px;
    height: 516px;
    padding: 16px 28px;
}

.chat__title {
    font-weight: 500;
    font-size: 18px;
}

.chat__title::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
    display: block;
    margin-top: 14px;
}

.chat__page, .news__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.chat__page-avatar > img, .news__item-avatar > img {
    position: relative;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
}

.chat__page-info, .news__item-info {
    flex: 10;
    margin-left: 13px;
}

.chat-info > h2, .news__item-info > h2 {
    padding-bottom: 5px;
}

.chat__page-info p, .news__item-info p {
    font-size: 13px;
    line-height: 20px;
    color: var(--text-color);
}

.chat__page-time p {
    font-size: 13px;
    margin-top: -21px;
    color: var(--text-color);
}

/*Conversation (end)*/



/*Announcements (start)*/

.news__item {
    margin-top: 20px;
}

.news__page {
    width: 500px;
    height: 440px;
    padding: 20px 25px;
}

.news__title {
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
}

.news__text {
    color: var(--text-color);
    padding-top: 7px;
}

.news__meatball > i.fa-ellipsis {
    font-size: 24px;
    color: var(--text-color);
    position: absolute;
    top: 0;
    right: 0;
}

.news__item-title {
    font-size: 15px;
    font-weight: 500;
}

.news__item-text {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
    line-height: 20px;
}

.news__item-text > span.at {
   font-size: 20px;
    padding: 0 5px 0 12px;
}

.news__item-text > span.name {
    color: #6F47EB;
}

.news__item-text > i {
    padding: 0 5px;
    font-size: 15px;
}

.thin {
    font-weight: 400;
}

.features {
    padding: 0 30px;
}


/*Announcements (end)*/
