@import url(../css/fonts.css);

:root {
    --green-color: #5FD788;
    --gray-color: #9CA3AF;
    --dark-gray: #3c4757;
    --medium-gray: #6B7280;
    --gray-800: #1F2937;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    overflow-x: hidden;
    font: inherit;
    font-family: 'San Francisco Pro', sans-serif;
    font-weight: 600;
}

ul, li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}


img {
    max-width: 100%;
    height: auto;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/*header*/

.header {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    position: fixed;
    top: 0;
    margin-top: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__link {
    display: flex;
    flex-direction: row;
}

.logo__title {
    margin: auto;
    color: var(--gray-800);
    font-size: 12px;
}

.logo__image {
    padding-right: 1.3em;
}

.header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link {
    text-transform: uppercase;
    text-align: center;
    padding: 0 .6em;
    font-size: 12px;
    line-height: 16px;
    color: var(--gray-800);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__links {
    text-transform: uppercase;
    color: var(--gray-800);
}

.header__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__button {
    background-image: url('../images/landing/icon-cart.svg');
    background-size: cover;
    margin-right: .75em;
    width: 1.6em;
    height: 1.7em;
}

.search__button {
    background-image: url('../../assets/images/landing/icon-search.svg');
    background-size: cover;
    width: 1.7em;
    height: 1.6em;
}

.burger__menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50%;
    font-size: 0;
    width: 4rem;
    height: 100%;
}

.burger__menu span {
    content: '';
    display: inline-block;
    background-color: var(--medium-gray);
    padding: 4px;
    border-radius: 50%;
    height: 8px;
}

.burger__menu span:nth-child(2) {
    margin: 0 5em;
}

/*main page*/

.main {
    margin-top: 5em;
    overflow: hidden;
}

.main__page-title, .collection__title, .soap__info h2, .bestsellers__info h2, .blog h2 {
    font-family: 'San Francisco Pro Rounded', sans-serif;
    color: var(--green-color);
    font-size: 96px;
    line-height: 89%;
}

.main__page-text, .collection__text {
    color: var(--gray-color);
}

/*section options*/

.options {
    margin-top: 9em;
    padding: 0 1em;
}

.options__menu-list-item {
    width: 17em;
    height: 17em;
    border-radius: 0 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    background-color: #F9FAFB;
    background-image: url('../../assets/images/landing/green-bg-for-icon.svg');
    background-position-x: center;
    background-position-y: 4.7em;
    background-repeat: no-repeat;
    text-align: center;
}

.options__menu-list-item:hover {
    background-color: var(--green-color);
    background-image: url('../../assets/images/landing/white-bg-for-icon.svg');
    color: #fff;
}

.options__menu-list-item img {
    margin-top: 3.7em;
}

.options__menu-list-item p {
    color: var(--green-color);
    text-align: center;
    padding: 30px;
}

.options__menu-list-item:hover p {
    color: #fff;
}

.essential-oil {
    z-index: -2;
}

.natural-cosmetics {
    z-index: -3;
}

.diffusers {
    z-index: -4;
}

.aromatherapy {
    z-index: -5;
}

/*section collection*/


.collection__info {
    padding-right: 6em;
}

.collection img {
    display: block;
}

.collection__title {
    font-size: 50px;
    width: 11em;
    text-align: end;
}

.collection__text {
    text-align: end;
    padding-top: 1.5em;
    width: 27em;
}

.collection__button, .soap__button, .bestsellers__button {
    color: #fff;
    background-color: var(--green-color);
    border-radius: 8px;
    padding: 0.8em 1.9em;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 1.5em;
}

/* soap section */

.soap__info {
    background-image: url(../../assets/images/landing/background-soap.png);
    background-size: cover;
    padding: 5em;
}

.soap__photo {
    background-image: url(../../assets/images/landing/picture-soap.png);
    background-size: cover;
}

.soap__info h2 {
    color: #fff;
    font-size: 50px;
    width: 10em;
    letter-spacing: 0.01em;
    line-height: 119.4%;
}

.soap__button {
    color: var(--dark-gray);
    background-color: #fff;
    padding: 0.8em 7em;
}

/* bestsellers section */

.bestsellers {
    background-image: url(../../assets/images/landing/background-bestsellers.svg);
    background-repeat: no-repeat;
    margin-top: 14.75em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5em;
    margin-top: 7em;
}

.slide__icon {
    padding: 4em;
    display: block;
    margin: 0 auto;
}

.bestsellers__info h2 {
    font-size: 50px;
}

.bestsellers__button {
    background-color: var(--green-color);
    border-radius: 6px;
    padding: 0.8em 7em;
}

.bestsellers__cards-list-item {
    width: 27.4em;
    height: 27.4em;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.bestsellers__card-info:hover {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(12px);
}

.brown__diffuser {
    background-image: url(../../assets/images/landing/brown-diffuser.png);
    background-size: cover;
    z-index: -1;
}

.black__diffuser {
    background-image: url(../../assets/images/landing/black-diffuser.png);
    background-size: cover;
    z-index: -1;
}

.bestsellers__card-info {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7px);
    border-radius: 0 20px 0 0;
    padding: 0.8em 7.5em 0.6em 1.9em;
    position: absolute;
    bottom: 0;
}

.bestsellers__cards-list-item img {
    position: absolute;
    bottom: 7%;
    right: 5%;
}

.bestsellers__card-info h3 {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}

.bestsellers__card-info h3:after {
    content: '';
    padding: .5em 1em;
    margin-left: .8em;
    font-size: 10px;
    font-weight: 700;
    background-color: var(--green-color);
    color: #fff;
    border-radius: 11px;
}

.costs__20-dollars h3:after {
    content: '$20';
}

.costs__15-dollars h3:after {
    content: '$15';
}

.bestsellers__card-info p {
    color: var(--medium-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    width: 18em;
}

/* blog section */

.blog {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*margin-bottom: 27.6em;*/
}

.blog h2 {
    font-size: 50px;
    text-transform: uppercase;
    padding: .3em;
}

.blog__articles {
    display: flex;
}

.blog__post {
    width: 26em;
    height: 27em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 1.5em;
}

.blog__post img {
    border-radius: 8px;
}

.blog__post h3 {
    width: 21em;
    color: var(--green-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    padding: 1em;
}

.blog__post p {
    color: var(--dark-gray);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding-left: 1.2em;
}

/* footer */

.footer {
    background-color: #F3F4F6;
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: 1fr 3fr 1fr;
}

footer:nth-of-type(1) {
    margin-top: 5em;
}

.footer__logo {
    display: flex;
    padding-top: 2em;
}

.footer__logo-position {
    display: flex;
    align-items: center;
}

.footer__logo-position img {
    padding-right: 1em;
}

.footer__info {
    display: flex;
    justify-content: space-around;
    padding-top: 2.06em;
}

.footer__info-list {
    width: 17em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__info-list-item-green {
    padding: .5em;
}

.footer__info-list-item-green a {
    color: var(--green-color);
    font-size: 12px;
}

.footer__info-list-item a {
    color: var(--gray-color);
    font-size: 12px;
}

.footer__position {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.copyright {
    padding: 2.6em;
}

.copyright p {
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    text-align: center;
    color: var(--medium-gray);
}

/*media*/

@media (max-width: 1200px) {
    .main__page-title {
        font-size: 86px;
    }

    .collection-title {
        font-size: 35px;
    }

    .main__page-text {
        font-size: 10px;
        padding-right: 3em;
    }

    .bestsellers__card-info h3 {
        font-size: 18px;
    }

    .bestsellers__card-info p {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    .main__page-title {
        font-size: 66px;
    }

    .collection__title {
        font-size: 40px;
    }

    .collection__text {
        font-size: 12px;
    }

    .soap {
        height: 18em;
    }

    .soap__info h2 {
        font-size: 30px;
    }

    .soap__button {
        font-size: 14px;
    }

    /*bestsellers section*/
    .bestsellers {
        margin-top: 7.75em;
    }

    .bestsellers__info {
        padding-left: 3em;
    }

    .bestsellers__card-info {
        padding-right: 3.5em;
    }

    .bestsellers__cards-list-item img {
        width: 15%;
        bottom: 12%;
        right: 5%;
    }

    .bestsellers__card-info h3 {
        font-size: 15px;
    }

    .bestsellers__card-info p {
        font-size: 10px;
    }

    .bestsellers__cards-list-item {
        width: 20em;
        height: 20em;
    }
}


@media (max-width: 768px) {
    .collection__info {
        padding-right: 2.5em;
    }

    .bestsellers {
        background-size: contain;
    }
}


@media (max-width: 576px) {
    .main__page-title {
        font-size: 50px;
    }

    .main__page-text {
        font-size: 11px;
    }

    .collection__title {
        font-size: 35px;
    }

    .collection__text {
        font-size: 10px;
    }

    .collection__button {
        font-size: 10px;
    }

    .soap__info {
        padding: 3em;
    }

    .soap__info h2 {
        font-size: 20px;
    }

    .soap__button {
        font-size: 9px;
    }

    .bestsellers__info h2 {
        font-size: 35px;
    }

    .bestsellers__button {
        font-size: 8px;
    }

    .bestsellers__cards-list-item {
        width: 15em;
        height: 15em;
    }

    .bestsellers__card-info h3 {
        font-size: 12px;
    }

    .bestsellers__card-info p {
        font-size: 8px;
    }

    .bestsellers__card-info h3:after {
        font-size: 8px;
    }
}

@media (max-width: 375px) {
    .main__page-title {
        font-size: 40px;
    }

    .main__page-text {
        font-size: 10px;
        padding-right: 3em;
    }

    .bestsellers__info h2 {
        font-size: 25px;
    }

    .bestsellers__cards-list-item {
        width: 13em;
        height: 13em;
    }

    .bestsellers__card-info {
        padding: 1em 2em 0 1em;
    }

    .bestsellers__card-info h3 {
        font-size: 10px;
    }

    .bestsellers__card-info h3:after {
        font-size: 6px;
    }

    .bestsellers__card-info p {
        font-size: 7px;
    }

    .bestsellers__button {
        font-size: 5px;
    }

    .slide__icon {
        width: 4em;
        padding: 1em;
    }
}






