@import url(../common/style.css);

.news__item {
    margin-top: 20px;
}

.news__page {
    width: 500px;
    height: 440px;
    padding: 20px 25px;
}

.news__title {
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
}

.news__text {
    color: var(--text-color);
    padding-top: 7px;
}

.news__meatball > i.fa-ellipsis {
    font-size: 24px;
    color: var(--text-color);
    position: absolute;
    top: 0;
    right: 0;
}

.news__item-title {
    font-size: 15px;
    font-weight: 500;
}

.news__item-text {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
    line-height: 20px;
}

.news__item-text > span.at {
    font-size: 20px;
    padding: 0 5px 0 12px;
}

.news__item-text > span.name {
    color: #6F47EB;
}

.news__item-text > i {
    padding: 0 5px;
    font-size: 15px;
}

.thin {
    font-weight: 400;
}

.features {
    padding: 0 30px;
}